.todoItems{
    display: flex;
    width: 400px;
    margin: auto;
    
    justify-content: space-between;
    align-items: center;
    background-color: rgba(11, 247, 247, 0.116);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-right: 10px;
    border-bottom: 2px solid tomato;
}
.serial{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;

}
.serial>h4{
    text-transform: uppercase;
    text-align: left;
}
.button{
    padding: 5px 10px;
    color: white;
    background-color: black;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
}