*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #efefef;
}

.h1{
  width: 200px;
  margin: auto;
}

.h1>.heading{
  width: 200px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}